<div id="page">
	<div id="modal">
	</div>
	<div id="useredit">
		<div id="delete_confirm">
			<p>
				Are you sure you want to delete your account?
			</p>
			<p>
				If so, please enter your password
			</p>
			<%= form_for(@user, method: :delete) do |d| %>
				<%= d.label :password1, "Password" %>
				<%= d.password_field :password1, :class => "user_input" %>
				<br> 
				<br>
				<%= d.label :password2, "Confirm Password" %>
				<%= d.password_field :password2, :class => "user_input" %>
				<br> 
				<br>
				<%= d.submit "Delete Account", :class => "delete_button"%>
			<% end %>
		</div>
		<h1>Edit User</h1>
		<%= form_for @user do |f|%>
			<%= f.label :username %>
			<%= f.text_field :username, :class => "user_input"%>
			<br>
			<br>
			<%= f.label :fname %>
			<%= f.text_field :fname, :class => "user_input"%>
			<br>
			<br>
			<%= f.label :lname %>
			<%= f.text_field :lname, :class => "user_input"%>
			<br>
			<br>
			<%= f.label :password %>
			<%= f.password_field :password, :class => "user_input"%>
			<br>
			<br>
			<%= f.submit :class => "button" %>
		<% end %>
		<button id="delete_button" class="button">Delete User</button>
	</div>
</div>