<div id="page">
	<div class='lcolumn'>
		<div id="profile_card" class="round">
			<div id="user_img">
			</div>
			<div id="user_name">
				<h2 class="snug"><%= link_to current_user.username, current_user %></h2>
				<p class="snug"><%= current_user.fname %> <%= current_user.lname %></p>
			</div>
			<div id="user_stats">
				<div class="user_stat">
					<p class="snug">Posts</p>
					<p class="snug"><%= current_user.posts.count %></p>
				</div>
				<div class="user_stat">
					<p class="snug">Following</p>
					<p class="snug"><%= current_user.followed.count %></p>
				</div>
				<div class="user_stat">
					<p class="snug">Followers</p>
					<p class="snug"><%= current_user.followers.count %></p>
				</div>
			</div>
		</div>
		<div id="addpost" class="round">
			<%= form_for @post do |p| %>
				<%= p.label :title %>
				<%= p.text_field :title, :class => "user_input"%>
				<br>
				<br>
				<%= p.label :content %>
				<%= p.text_area :content, cols: "35", rows: "5", :class => "text_area" %>
				<%= p.hidden_field :user_id, :value => @user.id %>
				<%= p.submit :class => "button top_space" %>
			<% end %>
		</div>
		<div id = 'followerslist'>
			PEOPLE YOU FOLLOW:
			<%@user.followed.each do |s| %>
				<%= s.username %>
			<% end %>
			<br>
			PEOPLE FOLLOWING YOU:
			<% @user.followers.each do |s| %>
				<%= s.username %>
			<% end %>
		</div>
	</div>
	<div class='feed'>
		<% @posts.reverse.each do |p| %>
			<div class='posts'>
				<h2 class="snug underline"><%= link_to p.title, p %></h2>
				<h3 class="snug">by <%= link_to p.user.username, p.user %></h3>
				<!-- calls the time_ago_in_words function and passes it the created_at attribute of the post being rendered -->
				<p class="snug"> <%= time_ago_in_words(p.created_at) %> </p>
				<p> <%= p.content %> </p>
				<p><%= p.comments.count %> Comments</p>

			</div>
		<% end %>
	</div>
</div>