<!DOCTYPE html>
<html>
<head>
  <title>GroupProjectRailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
	<div class="alert"><%= flash[:alert] %></div>
<% end %>


<% if current_user %>
<header>
	<p>
		You are currently logged in as <%= current_user.username %>
	</p>	
	<nav>
		<ul>
			<li> <%= link_to "Home", '/' %></li>
			<li> <%= link_to "Account Settings", edit_user_path(current_user) %> </li>
			<li> <%= link_to "Log Out", '/log-out' %> </li>
		</ul>
	</nav>
</header>
<%else %>
<header>
	<nav>
		<ul>
			<li> <%= link_to "Log In", log_in_path %> </li>
			<li> <%= link_to "Sign Up", new_user_path %> </li>
		</ul>
	</nav>
</header>
<% end %>
<div id="gap-filler">
</div>

<%= yield %>

</body>
</html>
